* {
    margin: 0;
    padding: 0;
}

header {
    margin: 2%;
    text-align: center;
}

body {
    background-color: #80CBC4;
}

main {
    margin-top: 5%;
    text-align: center;
}

h1 {
    color: #FBF8EF;
}

a {
    text-decoration: none;
}

#title {
    color: #FBF8EF;
}

#logout {
    color: #FBF8EF;
}

#add-todo {
    color: #FBF8EF;
    margin-left: 0.8rem;
}

#options {
    margin-top: 3%;
}

#options a {
    margin-left: 1rem;
    font-size: 25px;
}

.button {
    color: #FBF8EF;
    border-radius: 15px;
}

#yes {
    background-color: #ff5757;
}

#no {
    background-color: #FFB433;
}